# Local Maven proxy URL (optional); see gradle-local.properties.example
/gradle-local.properties

/allure-results/
bin/
build/
*.class
*.crt
.DS_Store/
**/.gradle/
/gradlew.bat
/*.hprof
/*.hprof.*/
/.idea/
/.intellijPlatform/
.kotlin/
*.log
/out/
*.pem
.sdkmanrc
