# So that Lombok doesn't try to search for lombok.config file in subfolders.
config.stopBubbling = true

# So that Lombok-generated `equals` methods have its parameter marked as `@Nullable`;
# otherwise Checker would raise an error about breaking inheritance contract with `java.lang.Object#equals`.
lombok.addNullAnnotations = checkerframework
lombok.equalsAndHashCode.callSuper = call
lombok.log.custom.declaration = com.virtuslab.logger.IEnhancedLambdaLogger com.virtuslab.logger.EnhancedLambdaLoggerFactory.create(TYPE)
lombok.log.fieldName = LOG
lombok.toString.callSuper = call
