version: 2.1
jobs:
  build:
    working_directory: ~/git-machete-intellij-plugin
    docker:
      - image: openkbs/jdk11-mvn-py3

    steps:
      - checkout
      - run:
          name: Check Formatting
          command: |
            ./gradlew spotlessCheck
      - run:
          name: Check wildcard imports
          command: |
            if [[ $(grep -r --include "*.java" '^import .*\.\*' | wc -l) -gt 0 ]]
            then
              exit -1
            fi
      - run:
          name: Install Machete CLI
          command: pip3 install git-machete==2.12.5
      - run:
          name: Build & Test
          command: |
            ./gradlew test
      - run:
          name: Build Plugin Artifact
          command: |
            ./gradlew intellijPlugin:buildPlugin
      - store_artifacts:
          path: ~/git-machete-intellij-plugin/intellijPlugin/build/distributions
          destination: .

