version: 2.1
jobs:
  build:
    docker:
      - image: 'gitmachete/intellij-plugin-ci:6.1.0'
    working_directory: ~/git-machete-intellij-plugin
    resource_class: large
    steps:
      - checkout
      - run:
          name: Run pre-compile checks
          command: ./scripts/run-pre-build-checks
      - restore_cache:
          # Adding `-v4` suffix to enable easy cache invalidation when needed (just change to `-v<next-integer>`)
          keys:
            # First, try finding a cache entry with the same set of libraries
            # that also comes from the same branch (so as to make the best use of Gradle compilation cache).
            - gradle-deps-v4-{{ checksum "build.gradle" }}-{{ .Branch }}
            # If the above key is not found, try finding a cache entry with the same set of libraries
            # coming from another branch (Gradle compilation cache might then be less useful).
            - gradle-deps-v4-{{ checksum "build.gradle" }}-
            # As a last resort, take any available cache entry.
            - gradle-deps-v4-
      - run:
          name: Start Gradle daemon
          command: ./gradlew

      - run:
          name: Validate Markdown files
          # language=sh
          command: |
            set -x
            ./scripts/validate-markdown-links
            ./scripts/validate-markdown-values
      - run:
          name: Check formatting
          command: ./gradlew spotlessCheck
      - run:
          name: Compile production code
          # Given the RAM limits on CI (8GB), max-workers=7 cause OOMs.
          command: ./gradlew --max-workers=4 compileJava compileKotlin
      - run:
          name: Run post-compile checks
          command: ./scripts/verify-no-string-interpolation-leftovers
      - run:
          name: Run static code analyzer
          command: ./gradlew --warn checkstyleMain
      - run:
          name: Check Javadoc correctness
          # Given the RAM limits on CI (8GB), max-workers=7 cause OOMs.
          command: ./gradlew --max-workers=4 javadoc

      - run:
          name: Compile tests
          command: ./gradlew compileTestJava compileUiTestScala
      - run:
          name: Run unit & integration tests
          command: ./gradlew test
      # Unfortunately, wildcards for test result paths aren't supported by CircleCI yet.
      - store_test_results:
          path: branchLayoutImpl/build/test-results/test/
      - store_test_results:
          path: backendImpl/build/test-results/test/
      - store_test_results:
          path: build/test-results/test/

      - run:
          name: Build plugin artifact
          command: ./gradlew buildPlugin
      - store_artifacts:
          path: build/distributions/
          destination: .
      - run:
          name: Verify plugin artifact contents
          command: ./scripts/verify-artifact-contents
      - run:
          name: Verify binary compatibility with supported IntelliJ versions
          command: ./gradlew runPluginVerifier

      - run:
          name: Run UI tests against an EAP of the latest supported major IntelliJ version (if applicable)
          command: ./gradlew -Pheadless -Pagainst=eapOfLatestSupportedMajor uiTest
      - run:
          name: Run UI tests against the latest stable IntelliJ version
          command: |
            ./gradlew -Pheadless -Pagainst=latestStable uiTest
            echo $(pgrep idea)
      - when:
          condition:
            # Practice shows that the risk of UI tests failing on `latestMinorsOfOldSupportedMajors`
            # once both binary compatibility checks and UI tests for latest versions passed is close to zero.
            # Hence, to speed up the builds, we only run them for develop/master/hotfix/release and not on PRs.
            matches:
              pattern: "^(develop|hotfix/.+|master|release/.+)$"
              value: << pipeline.git.branch >>
          steps:
            - run:
                name: Run UI tests against earlier supported major IntelliJ versions
                command: ./gradlew -Pheadless -Pagainst=latestMinorsOfOldSupportedMajors uiTest
      - store_test_results:
          path: build/test-results/uiTest/
      - when:
          condition:
            not:
              equal: [ master, << pipeline.git.branch >> ]
          steps:
            - run:
                name: Remove IntelliJ artifacts to reduce cache size
                # language=sh
                command: |
                  du -h -d1 ~/.gradle/caches/modules-2/files-2.1/ | sort -h
                  rm -rf ~/.gradle/caches/modules-2/files-2.1/com.jetbrains/
                  rm -rf ~/.gradle/caches/modules-2/files-2.1/com.jetbrains.intellij.idea/
            - save_cache:
                paths: [ ~/.gradle/ ]
                key: gradle-deps-v4-{{ checksum "build.gradle" }}-{{ .Branch }}

      - when:
          condition:
            equal: [ master, << pipeline.git.branch >> ]
          steps:
            - run:
                # Publishing should be the first step since if it fails, we should NOT proceed with opening backport PR/GitHub release, etc.
                name: Publish plugin to Jetbrains Marketplace
                command: ./gradlew publishPlugin
            - run:
                # It was hard to make `git push`/`hub pull-request` to work with SSH repo access in CI.
                name: Reconfigure origin remote to https
                command: git remote set-url origin https://${GITHUB_TOKEN}@github.com/VirtusLab/git-machete-intellij-plugin.git
            - run:
                name: Push git tag
                # language=sh
                command: |
                  source scripts/utils.sh
                  tag=v$(extract_version_from_current_wd)
                  git tag "$tag"
                  git push origin "$tag"
            - run:
                name: Create GitHub release
                # Implicit usage of ${GITHUB_TOKEN} by hub
                # language=sh
                command: |
                  source scripts/utils.sh
                  tag=v$(extract_version_from_current_wd)
                  # Newlines (<br/>) are necessary for better layout on Marketplace, but make the formatting worse on GitHub
                  change_notes=$(sed '/^<br.>$/d' CHANGE-NOTES.html)
                  hub release create \
                    --attach build/distributions/git-machete-intellij-plugin-*.zip \
                    --message "$tag"$'\n\n'"$change_notes" \
                    $tag
