# The [plugins] section has been removed even though plugins are still used, because we decided to use legacy plugin application
# throughout the whole project. This way of applying plugins was needed for the build-related code in buildSrc/src/main/,
# see https://docs.gradle.org/current/samples/sample_convention_plugins.html#things_to_note
[versions]
checker = "3.27.0"
ideProbe = "0.46.0"
powerMock = "2.0.9"

[libraries]
# Libraries
apacheCommonsText = "org.apache.commons:commons-text:1.10.0"
archunit = "com.tngtech.archunit:archunit:1.0.0"
betterStrings = "com.antkorwin:better-strings:0.5"
checker = { module = "org.checkerframework:checker", version.ref = "checker" }
checker-qual = { module = "org.checkerframework:checker-qual", version.ref = "checker" }
commonsIO = "commons-io:commons-io:2.11.0"
ideProbe-junitDriver = { module = "org.virtuslab.ideprobe:junit-driver_2.13", version.ref = "ideProbe" }
ideProbe-robotDriver = { module = "org.virtuslab.ideprobe:robot-driver_2.13", version.ref = "ideProbe" }
jcabi-aspects = "com.jcabi:jcabi-aspects:0.24.1"
jetbrains-annotations = "org.jetbrains:annotations:23.0.0"
jgit = "org.eclipse.jgit:org.eclipse.jgit:6.3.0.202209071007-r"
jsoup = "org.jsoup:jsoup:1.15.3"
junit = "junit:junit:4.13.2"
lombok = "org.projectlombok:lombok:1.18.24"
powerMock-apiMockito2 = { module = "org.powermock:powermock-api-mockito2", version.ref = "powerMock" }
powerMock-moduleJunit4 = { module = "org.powermock:powermock-module-junit4", version.ref = "powerMock" }
reflections = "org.reflections:reflections:0.10.2"
scala-library = "org.scala-lang:scala-library:2.13.8"
slf4j-lambda = "kr.pe.kwonnam.slf4j-lambda:slf4j-lambda-core:0.1"
# @pin because slf4j-simple 2.0.0 isn't compatible with slf4j-api v1.x.y, which is still pulled in by our dependencies.
#      See https://www.slf4j.org/faq.html#changesInVersion200.
#      We could theoretically also override slf4j-api to v2.0.0 in tests that rely on slf4j-simple...
#      but that's not worth it yet, esp. given that IntelliJ still runs on slf4j-api v1.x.y as of 2022.2.
#      Also, see https://github.com/littlerobots/version-catalog-update-plugin/issues/79 for pinning just major version
#      (1.*.*, rather than a specific version like 1.7.36).
slf4j-simple = "org.slf4j:slf4j-simple:1.7.36"
vavr = "io.vavr:vavr:0.10.4"
# Plugins
pluginPackages-aspectj-postCompileWeaving = "io.freefair.gradle:aspectj-plugin:6.5.1"
pluginPackages-checkerFramework = "org.checkerframework:checkerframework-gradle-plugin:0.6.19"
pluginPackages-grgit = "org.ajoberstar.grgit:grgit-gradle:5.0.0"
pluginPackages-jetbrains-changelog = "org.jetbrains.intellij.plugins:gradle-changelog-plugin:2.0.0"
pluginPackages-jetbrains-grammarkit = "org.jetbrains.intellij.plugins:gradle-grammarkit-plugin:2021.2.2"
pluginPackages-jetbrains-intellij = "org.jetbrains.intellij.plugins:gradle-intellij-plugin:1.9.0"
# @pin because as per https://plugins.jetbrains.com/docs/intellij/using-kotlin.html#kotlin-standard-library:
#      "If a plugin supports multiple platform versions, it must (...) target the lowest bundled stdlib version"
#      which is different in our case (as this is the Kotlin version bundled into IntelliJ 2022.1).
pluginPackages-jetbrains-kotlin = "org.jetbrains.kotlin:kotlin-gradle-plugin:1.6.20"
# @pin TODO (#1129): resolve the mess around `disabled_rules`/`ktlint_disabled_rules` that happens on 6.11.0
pluginPackages-spotless = "com.diffplug.spotless:spotless-plugin-gradle:6.10.0"
pluginPackages-taskTree = "com.dorongold.plugins:task-tree:2.1.0"
pluginPackages-versionCatalogUpdate = "nl.littlerobots.version-catalog-update:nl.littlerobots.version-catalog-update.gradle.plugin:0.5.3"
pluginPackages-versionsFilter = "se.ascp.gradle:gradle-versions-filter:0.1.16"

[bundles]
ideProbe = [
    "ideProbe-junitDriver",
    "ideProbe-robotDriver",
]
powerMock = [
    "powerMock-apiMockito2",
    "powerMock-moduleJunit4",
]
